*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.navbar{
 background-color: rgb(91, 91, 91);
 height: 4rem;
}

.navbar .logo {
    color:#000000;
    font-size: 35px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
} 

.navbar .logo span{
    color: rgb(255, 112, 9);
       transition: all 0.3s ease;
   
   }

   /* section */

.home{
    display: flex;
    
}
