@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital@1&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.navbar{
 background-color: rgb(91, 91, 91);
 height: 4rem;
}

.navbar .logo {
    color:#000000;
    font-size: 50px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    font-family: 'Chakra Petch', sans-serif;
} 

.navbar .logo span{
    color: rgb(255, 112, 9);
    transition: all 0.3s ease;

   }

   /* section */

.home{
    display: flex;
    
}
